---
title: Home
layout: default
---
<!-- About -->
<section id="about" class="header-container">
  <img
    class="profile-image"
    src="../assets/profile-image.png"
    alt="Lindy's Avatar"
  />
  <h1>Hi! I'm Lindy.</h1>
  
  <div id="intro" class="content-text">
    <h2 id="intro-h2">I design and build technologies to support social-emotional connection.</h2>

    <p id="intro-p1" class="intro-p">
      My research focus is on <strong>Human-Centered AI</strong> to promote inclusion and sustainable structural change. 
      Motivated by my experiences with neurodivergence, I am particularly interested in leveraging <strong>Affective Computing</strong> and <strong>Social Computing</strong> to facilitate mindfulness, compassion, and dialogue. 
      I have been a product manager at Microsoft for 5 years, where I currently collaborate with <strong>Microsoft Research's Human Understanding and Empathy (HUE)</strong> group to research empathic AI and emotional well-being.
      My approach to <strong>Human-Computer Interaction</strong> is transdisciplinary, inspired by neurodiversity and trauma-informed care.
      Influenced by <strong>Critical Computing and Social Justice</strong>, I am committed to conducting community-based participatory action research that centers marginalized voices and intersectionality.

    </p>
    <p id="intro-p2" class="intro-p">
      Previously, I have built <strong>assistive technology</strong> at Microsoft for people with visual, mobility, and cognitive disabilities.
      In my free time, I love making art through needlework (e.g. knitting, crochet), music (e.g. ocarina, ukuele), and dance (e.g. aerial acrobatics, ballroom).
    </p>
  </div>
  <a
    href="mailto:lindyrose.le@gmail.com"
    class="btn btn-secondary nav-link hidden-link"
    target="_blank"
    >Let's Chat!</a
  >
</section>

<!-- Featured Projects -->
<section id="featured" class="featured-container container">
  <div class="division"></div>
  <div class="content-text">
    <h2>Featured Work</h2>
  </div> 

  <article class="feature">
    <!-- Feature Card -->
      <div class="feature-card-container">
        <img
            class="feature-image project-image"
            src="../assets/project/digitalempathy/approach.png"
            alt="In our study, participants will chat with an AI agent and then rate the agent's responses as good, neutral, or poor examples of Digital Empathy."
            width="600"
            height="403.9"
            onclick="window.location.href = 'https://lindyle.github.io/digitalempathy/';"
          />

        <div class="feature-info">
          <h3 class="feature-title hidden-link" onclick="window.location.href = 'https://lindyle.github.io/digitalempathy/';">Digital Empathy Research</h3>
          <p>Currently, I am working with the HUE group to develop a human-centric benchmark for measuring digital empathy in human-AI interactions. The goal is to publish data sets and tools that promote more human-centered AI research. <br/> <br/>
            <a class="hidden-link" href="https://lindyle.github.io/digitalempathy/"><i class="fas fa-arrow-right"></i> Overview</a>
          </p>
        </div>
      </div>

      <div class="feature-card-container">
        <div class="feature-image project-image">
          <iframe
              src="https://www.youtube.com/embed/1JuiYTbozD8"
              width="600"
              height="400"
              frameborder="0"
              allowfullscreen="true"
              title="Esa project pitch video">
          </iframe>
        </div>

        <div class="feature-info">
          <h3 class="feature-title hidden-link" onclick="window.location.href = 'https://lindyle.github.io/esa/';">Esa: Emotional Support Agent (Esa)</h3>
          <p>Previously, I collaborated with the HUE group on a low-cost, intelligent stress-reduction application. The system detected stress using passive laptop sensors and delivered personalized, just‑in‑time mental health interventions via an
            embodied agent. <br/> <br/>
            <a class="hidden-link" href="https://lindyle.github.io/esa/"><i class="fas fa-arrow-right"></i> Overview</a>
          </p>
        </div>
      </div>
  </article>
</section>

<!-- Projects -->
<section id="projects" class="project-container container">
    <div class="division"></div>
    <div class="content-text">
      <h2>Projects</h2>
    </div> 

    <article class="project">
      <!-- Project Card -->
      {% assign sorted_project = site.project | sort:"order" %}
      {% for project_item in sorted_project %}
        <div class="card-container" onclick="window.location.href = '{{ project_item.url }}';">
          <div class="card">
            <div class="project-info">
            </div>
          </div>
          <div class="project-bio">
            <h3 class="hidden-link">{{ project_item.title }}</h3>
            <p>{{ project_item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </article>
</section>

<!-- Publications -->
<section id="publications" class="pub-container container">
  <div class="division"></div>
  <div class="content-text">
    <h2>Publications</h2>
  </div> 

  <article class="publication">
    <!-- Publication list -->
      <!-- Paper 1 -->
      <div class="pub-card-container">
        <div style="width: 191.47; height: 115; clear=both;"></div>

        <div class="pub-text">
          <p>
            <strong><a class="pub-link hidden-link" href="https://lindyle.github.io/assets/pdf/Neurodivergence_2024.pdf" target="blank">"I Am Human, Just Like You": What Intersectional, Neurodivergent Lived Experiences Bring to Accessibility Research</a></strong> <br/>
            <strong>Lindy Le</strong>. <br/>
            <em>Accepted at ACM SIGACCESS Conference on Computers and Accessibility (ASSETS 2024) </em> &#128900; <a href="https://lindyle.github.io/assets/pdf/Neurodivergence_2024.pdf" target="blank">PDF</a>
          </p>
        </div>
      </div>

      <!-- Publication list -->
      <!-- Paper 2 -->
      <div class="pub-card-container">
        <img
            class="feature-image project-image pub-image"
            src="../assets/project/discern/approach-crop.png"
            alt="DISCERN is a digital tool to help managers reason about data and objectives to make organizational decisions."
            width="191.47"
            height="115"
            onclick="window.location.href = 'https://lindyle.github.io/discern/';"
          />

        <div class="pub-text">
          <p>
            <strong><a class="pub-link hidden-link" href="https://lindyle.github.io/assets/pdf/DISCERN_2024.pdf" target="blank"><em>DISCERN</em>: Designing Decision Support Interfaces to Investigate the Complexities of Workplace Social Decision-Making With Line Managers.</a></strong> <br/>
            Pranav Khadpe, <strong>Lindy Le</strong>, Kate Nowak, Shamsi Iqbal, &amp; Jina Suh. <br/>
            <em>In Proceedings of the 2024 CHI Conference on Human Factors in Computing Systems (CHI 2024)</em> &#128900; <a href="https://lindyle.github.io/assets/pdf/DISCERN_2024.pdf" target="blank">PDF</a> &#128900; <a href="https://lindyle.github.io/discern/" target="blank">Project</a>
          </p>
        </div>
      </div>

      <!-- Publication list -->
      <!-- Paper 3 -->
      <div class="pub-card-container">
        <img
            class="feature-image project-image pub-image"
            src="../assets/project/meetmate/meetmateui.png"
            alt="MeetMate supports preference elicitation and decision making within the context of meeting scheduling."
            width="191.47"
            height="115"
            onclick="window.location.href = 'https://lindyle.github.io/meetmate/';"
          />

        <div class="pub-text">
          <p>
            <strong><a class="pub-link hidden-link" href="https://arxiv.org/pdf/2312.06908.pdf" target="blank">"I Want It That Way": Enabling Interactive Decision Support Using Large Language Models and Constraint Programming</a></strong> <br/>
            Connor Lawless, Jakob Schoeffer, <strong>Lindy Le</strong>, Kael Rowan, Shilad Sen, Cristina St Hill, Jina Suh, &amp; Bahareh Sarrafzadeh. <br/>
            <em>Accepted in ACM Transactions on Interactive Intelligent Systems 2024 (TiiS) </em> &#128900; <a href="https://arxiv.org/pdf/2312.06908.pdf" target="blank">PDF</a> &#128900; <a href="https://arxiv.org/abs/2312.06908" target="blank">arXiv</a> &#128900; <a href="https://lindyle.github.io/meetmate/" target="blank">Project</a>
          </p>
        </div>
      </div>

  </article>
</section>

<!-- Art -->
<section id="arts" class="art-container container">
  <div class="division"></div>
  <div class="content-text">
    <h2>Art</h2>
  </div> 

  <article class="art">
    <!-- Art Card -->
    {% assign sorted_art = site.art | sort:"order" %}
    {% for art_item in sorted_art %}
      <div class="art-card-container">
        <div class="art-card">
          <div class="art-info">
          </div>
        </div>
        <div class="art-bio">
          <h3>{{ art_item.art_name }}</h3>
          <p>{{ art_item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </article>
</section>