---
title: Home
layout: default
---
<!-- About -->
<section id="about" class="header-container">
  <img
    class="profile-image"
    src="../assets/profile-image.png"
    alt="Lindy's Avatar"
  />
  <h1>Hi! I'm Lindy.</h1>
  
  <div id="intro" class="content-text">
    <h2 id="intro-h2">I'm passionate about fostering compassion and connection.</h2>

    <p id="intro-p">
      Within <strong>Human-Computer Interaction</strong>, my research interests are neurodiversity, empathy, and accessibility.
      I'm currently a <strong>product manager at Microsoft,</strong> where I built assistive technology for people with visual, mobility, and cognitive disabilities.
      I also collaborate with <strong>Microsoft Research's Human Understanding and Empathy</strong> group, researching technologies to promote emotional resilience and well-being.
      My approach to research is <strong>transdisciplinary:</strong> I draw on my experience in <strong>computer science, neuroscience, psychology, communications, sociology, and philosophy.</strong>
      In my free time, I love making art through needlework (e.g. knitting, crochet), music (e.g. ocarina, ukuele), and dance (e.g. aerial silks, ballroom).
    </p>
  </div>
  <a
    href="mailto:lindyrose.le@gmail.com"
    class="btn btn-secondary"
    target="_blank"
    >Let's Chat!</a
  >
</section>

<!-- Projects -->
<section id="projects" class="project-container container">
    <div class="division"></div>
    <div class="content-text">
      <h2>Projects</h2>
    </div> 

    <article class="project">
      <!-- Project Card -->
      {% assign sorted_project = site.project | sort:"order" %}
      {% for project_item in sorted_project %}
        <div class="card-container" onclick="window.location.href = '{{ project_item.url }}';">
          <div class="card">
            <div class="project-info">
            </div>
          </div>
          <div class="project-bio">
            <h3>{{ project_item.project_title }}</h3>
            <p>{{ project_item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </article>
</section>

<!-- Publications -->
<section id="publications" class="pub-container container">
  <div class="division"></div>
  <div class="content-text">
    <h2>Publications</h2>
  </div> 

  <article class="publication">
    <!-- Publication list -->
      <!-- Paper 1 -->
      <div class="pub-text">
        <p>
          Pranav Khadpe, <strong>Lindy Le</strong>, Kate Nowak, Shamsi Iqbal, &amp; Jina Suh. 
          <em>DISCERN</em>: Designing Representation Material to Represent What Matters in Organizational Decision-Making. 
          <!-- <em>Under Review at CHI '24: ACM CHI Conference on Human Factors in Computing Systems</em>, 2024. -->
        </p>
      </div>

      <!-- Publication list -->
      <!-- Paper 2 -->
      <div class="pub-text">
        <p>
          Connor Lawless, Jakob Schoeffer, <strong>Lindy Le</strong>, Kael Rowan, Shilad Sen, Cristina St Hill, Jina Suh, &amp; Bahareh Sarrafzadeh.
          Enabling Conversational Preference Elicitation using Large Language Models and Constraint Programming. 
        </p>
      </div>

  </article>
</section>

<!-- Art -->
<section id="arts" class="art-container container">
  <div class="division"></div>
  <div class="content-text">
    <h2>Art</h2>
  </div> 

  <article class="art">
    <!-- Art Card -->
    {% assign sorted_art = site.art | sort:"order" %}
    {% for art_item in sorted_art %}
      <div class="art-card-container">
        <div class="art-card">
          <div class="art-info">
          </div>
        </div>
        <div class="art-bio">
          <h3>{{ art_item.art_name }}</h3>
          <p>{{ art_item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </article>
</section>