<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>{{ page.title }} &ndash; Lindy Le</title>
    <meta name="title" content="Lindy Le" />
    <meta
      name="description"
      content="Lindy's Portfolio Website"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://lindyle.github.io/"
    />
    <meta property="og:title" content="Lindy Le" />
    <meta
      property="og:description"
      content="Lindy's Portfolio Website"
    />
    <meta
      property="og:image"
      content="../assets/favicon/apple-touch-icon.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://lindyle.github.io/"
    />
    <meta property="twitter:title" content="Lindy Le" />
    <meta
      property="twitter:description"
      content="Lindy's Portfolio Website"
    />
    <meta
      property="twitter:image"
      content="../assets/favicon/apple-touch-icon.png"
    />

    <!-- Link -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="../assets/favicon/android-chrome-512x512.png"
    />
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico" />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/utilities.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../js/script.js"></script>
  </head>
  <body>
    <header id="hero">
      <!-- Navbar -->
      <nav class="navbar">
        <div class="container">
          <!-- Logo -->
          <h1 id="logo">
            <a href="https://lindyle.github.io/"
              ><img src="../assets/logo.png" alt="Lindy's Logo"
            /></a>
          </h1>
          <!-- Navbar links -->
          <ul class="nav-menu">
            <li><a class="nav-link" href="#projects">PROJECTS</a></li>
            <li><a class="nav-link" href="#">PUBLICATIONS</a></li>
            <li><a class="nav-link" href="#">ART</a></li>
            <li><a class="nav-link" href="#">ABOUT</a></li>
            <li>
              <a
                class="nav-link btn btn-primary"
                href=""
                >CV <i class="fas fa-arrow-right"></i
              ></a>
            </li>

            <!-- Toggle switch -->
            <div class="theme-switch">
              <input type="checkbox" id="switch" />
              <label class="toggle-icons" for="switch">
                <img class="moon" src="../assets/moon.svg" />
                <img class="sun" src="../assets/sun.svg" class="svg-filter"/>
              </label>
            </div>
            <!-- Hamburger menu -->
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
    </header>

    {{ content }}

    <footer id="footer">
        <div class="container">
            <!-- Social links -->
            <div class="social">
            <a href="https://www.linkedin.com/in/lindyle/" target="_blank"
                ><img src="../assets/linkedin-icon.svg" alt="Linkedin" class="svg-filter"
            /></a>
            <a href="https://github.com/lindyle" target="_blank"
                ><img src="../assets/github-icon.svg" alt="GitHub" class="svg-filter"
            /></a>
            </div>
            <!-- Attribution -->
            <p>Lindy Le &copy; 2023</p>
            <p>Derived from <a href="https://github.com/CommunityPro/portfolio-html" target="_blank" rel="noopener noreferrer">CommunityPro Template</a> &copy; 2023, under <a href="https://raw.githubusercontent.com/lindyle/lindyle.github.io/main/LICENSE" target="_blank">MIT License</a>.</p>
            <p>Avatar &copy; 2023 <a href="https://picrew.me/en/search/creator?crid=307892" target="_blank" rel="noopener noreferrer">柊山羊</a> and Icon &copy; 2023 <a href="https://picrew.me/en/search/creator?crid=81338" target="_blank" rel="noopener noreferrer">Hayu</a>, under <a href="https://support.picrew.me/en/terms" target="_blank" rel="noopener noreferrer">Picrew Terms</a>.</p>
        </div>
    </footer>
  </body>
</html>
