---
layout: default
---
<section class="header-container">
    <h1 class="project-title">{{ page.title }}</h1>
</section>
<section class="container">
    <div class="content-text">
        <h2 class="project-h2">Team</h2>
        <p>{{ page.team }}</p>

        <h2 class="project-h2">My Contributions</h2>
        <p>{{ page.contribution }}</p>

        <h2 class="project-h2">Motivations</h2>
        <p>{{ page.motivations }}</p>

        <h2 class="project-h2">Approach</h2>
        <p>{{ page.approach }}</p>

        <h2 class="project-h2">Outcomes</h2>
        <p>{{ page.outcomes }}</p>

        <h2 class="project-h2">Takeaways</h2>
        <p>{{ page.takeaways }}</p>
    </div>
</section>