---
layout: default
---
<section class="header-container project-header">
    <div class="content-text">
        <h1 class="project-title">{{ page.title }}</h1>
    </div>
    {% if page.vid == null %}
        <img
            class="project-image"
            src="{{ page.img_src }}"
            alt="{{ page.img_alt }}"
        />
    {% else %}
        {% include youtubeplayer.html id=page.vid %}
    {% endif %}
</section>

<section class="page-container container">
    <div class="page-text">
        <h2 class="project-h2">Project Overview</h2>
        <p>{{ page.overview }}</p>
        
        <h2 class="project-h2">My Role</h2>
        <p>{{ page.role }}</p>

        <h2 class="project-h2">Motivations</h2>
        <p>{{ page.motivations }}</p>

        <h2 class="project-h2">Approach</h2>
        <p>{{ page.approach }}</p>

        {% if page.approach %}
            <img
                class="project-image"
                src="{{ page.approach_src }}"
                alt="{{ page.approach_alt }}"
            />
        {% endif %}

        <h2 class="project-h2">Outcomes</h2>
        <p>{{ page.outcomes }}</p>

        <h2 class="project-h2">Takeaways</h2>
        <p>{{ page.takeaways }}</p>
    </div>
</section>